<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Some properties -->
  <xacro:include filename="$(find curt_mini)/models/curt_mini/properties.xacro" />

  <!-- LPResearch CANAL3 IMU -->
  <joint name="base_link_to_imu" type="fixed">
    <parent link="$(arg prefix)base_link" />
    <child link="$(arg prefix)imu_link" />
    <origin xyz="0.062 0.0 0.015" rpy="0.0 0.0 ${pi/2}"/>
  </joint>
  <link name="$(arg prefix)imu_link">
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0"
               iyy="1e-6" iyz="0"
               izz="1e-6"/>
    </inertial>
  </link>

  <!-- Lidar UTM-30LX-EW -->
  <joint name="base_link_to_lidar" type="fixed">
    <parent link="$(arg prefix)base_link" />
    <child link="$(arg prefix)lidar_link" />
    <origin xyz="0.162 0.0 0.315" rpy="0.0 0.0 -${pi/2}"/>
  </joint>
  <!-- add collision for gazebo not to ignore the link-->
  <link name="$(arg prefix)lidar_link">
    <collision name="lidar_collision">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.01 0.01 0.01"/>
    </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0"
               iyy="1e-6" iyz="0"
               izz="1e-6"/>
    </inertial>
  </link>

</robot>